MYSQL_ROOT_PASSWORD=database_password
ZOOKEEPER_CLIENT_PORT=2181
ACCESS_TOKEN=YOUR_ACCESSTOKEN
REFRESH_TOKEN=YOUR_REFERSH_TOKEN
SPRING_MAIL_USERNAME=YOUR_MAILTRAP_USERNAME
SPRING_MAIL_PASSWORD=YOUR_MAILTRAP_PASSWORD